services:
  - type: web
    name: scrna-visualization
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: bash build.sh
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000
      - key: FLASK_ENV
        value: production
